<section>
  <body class="dark-mode">
    <div class="card">
      <h2>Login</h2>
      <div class="input-container">
        <input class="input" name="text" type="text" id="username" [(ngModel)]="usuario"/>
        <label class="label" for="input">Digite Seu Usuario</label>
        <div class="topline"></div>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input class="input" name="text" type="text" id="password" [(ngModel)]="senha" />
        <label class="label" for="input">Digite Sua Senha</label>
        <div class="topline"></div>
        <div class="underline"></div>
      </div>

      <div class="button-container">
        <button 
        id="botaoDeLogin"
        (click)="login(usuario, senha)">
          Entrar
          <div class="arrow-wrapper">
            <div class="arrow"></div>
          </div>
        </button>
        <button 
        id="botaoDeCadastro"
        (click)="abrirCadastro()">
          Inscrever-se
          <div class="arrow-wrapper">
            <div class="arrow"></div>
          </div>
        </button>
      </div>
    </div>
    <app-tela-cadastro *ngIf="exibirModalCadastro" (fechar)="fecharCadastro()"></app-tela-cadastro>
  </body>
</section>
