body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  width: auto;
}

.card {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background: #e0e0e0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.dark-mode {
  background-color: burlywood; /* Cor de fundo escura */
  color: white; /* Cor do texto */
}

h2 {
  color: #0b2447; /* Cor do texto para o modo claro */
}

.input-container {
  position: relative;
  margin: 40px 0;
}

.input {
  padding: 10px;
  height: 40px;
  border: 2px solid #0b2447;
  border-top: none;
  font-size: 16px;
  background: transparent;
  outline: none;
  box-shadow: 7px 7px 0px 0px #0b2447;
  transition: all 0.5s;
}

.input:focus {
  box-shadow: none;
  transition: all 0.5s;
}

.label {
  position: absolute;
  top: 10px;
  left: 35px;
  color: #0b2447;
  transition: all 0.5s;
  transform: scale(0);
}

.input-container .topline {
  position: absolute;
  content: "";
  background-color: #0b2447;
  width: 0%;
  height: 2px;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .topline {
  width: 35%;
  transition: all 0.5s;
}

.input-container .underline {
  position: absolute;
  content: "";
  background-color: #0b2447;
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .underline {
  width: 100%;
  transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .label {
  top: -10px;
  transform: scale(1);
  transition: all 0.5s;
}

button {
  --primary-color: #0b2447;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.button-container {
  display: flex;
  gap: 10px; /* Ajuste a margem entre os botões conforme necessário */
  margin-top: 20px; /* Ajuste a margem acima dos botões conforme necessário */
  flex-direction: row; /* Mudar a orientação para linha */
  justify-content: center;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}
