.table {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 860px;
  overflow: hidden;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}
